body {
  background:url(https://www.wallpapertip.com/wmimgs/41-417686_architecture.png) no-repeat;
}

h1 {

  text-align:end;
  font-family:Arial;
  font-size:100px;
  color:rgb(127, 187, 243);
  

}

#navigation {
  font-family:'Arial';
  font-size:50px;.
}



